@media screen and (min-width:220px) and (max-width:699px){	
	div#wrapper{
		width: 90%; 
	}
	.btn_close{
		margin-top:5px; 
	}
	table{
		width:50%;
	}
	td,tr{
		padding:10px;
	}
}

@media screen and (min-width:700px) and (max-width:991px){
	div#wrapper{
		width: 80%; 
	}
	.btn_close{
		margin-top:5px; 
	}
	table{
		width:50%;
	}
	td,tr{
		padding:5px;
	}
}

@media screen and (min-width:992px){	
	div#wrapper{
		width: 60%; 
	}
	.btn_close{
		margin-left: 10px; 
		margin-top: 5px;
	}
	table{
		width:60%;
	}
	td,tr{
		padding:10px;
	}
}



body{
	font-family: 'PT Sans', sans-serif;
}

#super-title{
	font-size: 3em;
	text-align: center;
	margin-top: 40px;
}
h2{
	margin:40px auto;
}

div#wrapper{
	margin:4% auto;
	padding:1%;
	text-align: center;
	background:white;
	border-radius: 15px;
	border:#222 solid 5px;
}

h1{
	padding-bottom: 20px;
}

select{
	padding: 10px;
	border-radius:5px;
}

#select_person{
	
}

#select_number{
	
}

#cart{
	margin:0 auto;
}
table{
	width:50%;
}

thead{
	font-size: 16pt;
}

tbody{
	padding:10px;
	border:1px solid grey;
}

td, tr {
	border:1px solid grey;
}

tfoot tr td{

}

button{
	padding: 10px;
	border-radius:5px;
}

button#btn_add_to_cart{
	margin:40px;	
}

button#btn_update_cart{
	margin:40px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.btn_close{	
	border-radius: 50%;
	border:none;	
}

#x-close{
	margin:0 auto;
}

input{
	width:50px;
}